html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

p {
    line-height: 28px;
}

a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    background: #064069f0;
    height: 100px;
}

.hidden-navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    display: none;
}

.hidden-header {
    display: none;
}

ul {
    list-style: none;
}

.nav-items {
    display: flex;
    align-items: center;
    padding-inline-start: 10px;
    margin: 0;
}

.nav-items li {
    padding: 8px;
    color: #fff;
    font-size: .97rem;
}

.container {
    display: grid;
    grid-template-columns: 30% 55%;
}

.side-bar {
    display: flex;
}

.sidebar-content {
    margin: 30px 55px 0 auto;
}

.sidebar-content li {
    color: #525252;
    font-size: 14px;
    padding: 9px;
}

.sidebar-content li:nth-child(-n+2),
.sidebar-content li:nth-child(n+11) {
    font-weight: 600;
}

.main-section {
    background: #fff;
    border-radius: 8px;
    padding: 20px 35px;
    margin-bottom: 15px;
    box-shadow: rgba(47, 55, 71, 0.05) 0px 4px 8px, rgba(47, 55, 71, 0.1) 0px 1px 3px;
}

.xl-text {
    font-size: 32px;
}

.outer-code {
    color: #df8908;
    font-size: 15px;
}

.code-box {
    font-family: Courier, sans-serif;
    font-size: 1.1rem;
    background: #2d3748;
    overflow: auto;
    padding: 15px;
    height: auto;
    width: auto;
    white-space: nowrap;
    color: #fff
}

.code-text_grey {
    color: rgb(170, 170, 170)
}

.code-text_red {
    color: #f9690e;
}

.code-text_yellow {
    color: #f2ca27;
}

.code-text_green {
    color: #7ed07e;
}

.code-text_blue {
    color: #b5bff1;
}

.main-section a {
    color: #2a89c1;
    text-decoration: none;
}

.enable_liststyle {
    padding-inline-start: 15px;
    margin: 30px 0;
}

.enable_liststyle li {
    background: url('https://res.cloudinary.com/dvhndpbun/image/upload/e_bgremoval/v1585833075/bullet_list_xose04.png') no-repeat left top;
    padding: 3px 3px 3px 38px;
    margin: 6px 0;
}

.hidden_list {
    display: none;
}

hr {
    margin: 0;
    border: 1px solid #e0e0e4;
}

.download-btn {
    border: 1px solid #064069f0;
    border-radius: 5px;
    color: #064069f0;
    font-weight: 600;
    margin-top: 7px;
    padding: 8px 15px;
    display: inline-block;
}

.download-btn:hover {
    color: #fff;
    background-color: #064069f0;
}

footer {
    color: #656060;
    display: grid;
    text-align: center;
    height: 150px;
    align-items: center;
    width: 50%;
    margin: auto;
    font-size: .95rem;
}

footer a {
    color: #3182ce;
}


/* media queries */

@media (max-width: 767px) {
    p {
        font-size: .95rem;
    }

    .nav-items {
        padding-inline-start: 1px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-items li {
        padding: 5px;
        white-space: nowrap;
        font-size: .8rem;
    }

    .logo {
        margin-left: -19px;
    }

    .container {
        grid-template-columns: 97%;
        margin-left: 2.5vw;
    }

    .side-bar {
        display: none;
    }

    .main-section {
        padding: 20px 18px;
    }

    footer {
        width: 90%
    }
}